body{
   margin:auto;
}
.form-group{
    margin-bottom: .110rem;
}
.form-label{
    display: inline;
    margin-bottom: .110rem;
}
.form-control{
    display: block;
    width: 20rem;
    margin: 0 auto;


}